body {
  font-family: Verdana, Geneva, sans-serif;
  color: #fff;
  background: #003865;
  margin: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #1e1e1e;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

input{
  padding : 6px;
  border: none;
  text-align: center;
  border-radius: 6px;
  height: 30px;
  border: 4px;

}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #1e1e1e;
}

.button{
  border: none;
  padding: 13px 30px;
  cursor: pointer;
  margin: 4px 2px;
  border-radius: 5px;
  background-color: #333;
  color: white
  }
  .button:hover{
    background-color: #1e1e1e
  }
